body {background-color: black;}
h1 {color: #fff5f5;
    text-shadow: 0 0 3px #00ce20, 0 0 5px #00ce20;}
p {
    font-family: Verdana, Tahoma, sans-serif; font-size: 15px; line-height: 1.5; 
    color: #fff5f5;}